h1 {
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
}

#inLine {
    display: inline;
}


.color-box {
    width: 500px;
    height: 100px;
    background-color: lightgray;
    position: center;

}